%h1.pageheader Blog
- if user_signed_in?
  =link_to "New Post", new_blog_path
%br
.container
  .row
    .col-md-8.blog-index
      - @blogs.each do |blog|
        =link_to blog_path(blog.id) do
          .blog-pane
            %img{src: blog.image_url(:medium)}
            %h1=blog.title 
            %p=blog.post.truncate(200)
            %br
            - if user_signed_in?
              %br
              =link_to "edit", edit_blog_path(blog.id)
              =link_to 'Destroy', blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true 