.row
  .large-6.large-centered.columns
    %h1 I AM
    %h1 BRIANSISNEY
.row
  .large-6.large-centered.columns
    %br
    %h3 welcome to my site


/ %div{:style => "width: 112px; height: 47px; border-bottom: 1px solid black; -webkit-transform:   translateY(-20px) translateX(5px) rotate(27deg); position: absolute;/* top: -20px; */"}
/ %div{:style => "width: 112px; height: 47px; border-bottom: 1px solid black; -webkit-transform: translateY(20px) translateX(5px) rotate(-26deg); position: absolute;top: -33px;left: -13px;"}