%h1.cover-heading
  =image_tag('jan27logo.gif')
%h1.lead 
  Hello! I'm Brian Sisney, a 
  =link_to "full stack web developer.", "https://github.com/briansisney", :class => "mylink", :target => "_blank"
  I believe in creating apps that 
  =link_to "simplify life.", "http://carewell.herokuapp.com", :class => "mylink", :target => "_blank"
  This site shows
  =link_to "examples", portfolio_path, :class => "mylink", :target => "_blank"
  of some of the skills I leared at 
  =link_to "MakerSquare", "http://www.themakersquare.com", :class => "mylink", :target => "_blank"
  coding bootcamp.
%h1.lead




