

%h1 Shhhhhhh!!
%h2 You have reached the secret sign in page.
.button
  - if user_signed_in?    
    = link_to "Sign out", destroy_user_session_path, method: :delete
  - else
    = link_to 'Sign In', signin_path 