// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle img{
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}
.back{
  float: left;
  text-align: left;
  padding: 10px;
}

.post-box{
  width: 260px;
  display: inline-block;
  position: relative;
  padding: 20px;
}

.blog-form{

}
.blog-index{
  .blog-pane{
    border: 1px solid #D6D6D6;
    box-shadow: 3px 3px 15px #B5B1B1;
    padding: 30px;

    background-color: #FCFCF7;
    margin: 10px;

    overflow:auto;
    img{
      margin-right: 30px;
      float: left;
      width: 200;
      height: auto;
    }
    h1{
      color: #EB3D1A;
      text-align: left;
      margin: 0px;
    }
    h2{
      color: #EB3D1A;
      margin-top: 0px;
      font-weight: normal;
    }
    p{
      color: #222;
      text-align: left;
    }
    .key-roles{
      clear: both;
      float: left;
      // padding: 10px;
      p{
        text-align: left;
        color: #EB3D1A;
      }
      ul{
        width: 95%;
        float: right;
        margin-top: 0px; 
        li{
          width: 100%;
          text-align: left;
        }
      }
    }
    .links {
    clear:both;
    }
    .hint{
      color: #222;
      text-align: left;
      padding-bottom:10px;
      clear: both;
    }
  }
}
.blog-show{
  border: 1px solid #D6D6D6;
  box-shadow: 3px 3px 15px #B5B1B1;
  display: inline-table;
  padding: 30px;
  background-color: #FCFCF7;
  margin: 10px;
  text-align: left;
  img{
    margin: 0px 20px 10px 0px;
    width: 50%;  
    // margin-right: 30px;
    float: left;  
  }
  h1{
    color: #EB3D1A;
    // padding: 10px;
    margin: 0px;
    text-align: center;
    padding-bottom: 30px;
  }
  p{
    text-align: left;
    margin: 0px;
    padding-bottom: 12px;
  }
  .postedby{
    text-align: right;
    font-size: 12px;
    padding-top:10px;
  }
}