// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle img{
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}


.post-box{
  width: 260px;
  display: inline-block;
  position: relative;
  padding: 20px;
}